/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url('k.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #ffffff;
    padding: 20px 10%;
}

header h1 {
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #007bff;
}

main {
    margin: 20px 10%;
}

article {
    background: rgba(255, 255, 255, 0.8); /* Light background with opacity */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
    padding: 10px;
    border-radius: 50%;
    background: #e1e3e4;
    color: white;
}

@media (max-width: 768px) {
    header, nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
